In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Airplane_Crashes_and_Fatalities_Since_1908.csv')

In [3]:
df.head()

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...

In [15]:
df.Location.dropna(inplace=True)
'brazil' in df.Location.values

False

In [19]:
locations = [location for location in df.Location.values if 'Brazil' in location]
len(locations)

191

In [25]:
df_locations = pd.DataFrame(locations, columns=['Location'])

In [26]:
df_locations.Location.value_counts()

Sao Paulo, Brazil                         15
Rio de Janeiro, Brazil                    14
Belem, Brazil                              4
Near Manaus, Brazil                        3
Belo Horizonte, Brazil                     3
Curitiba, Brazil                           2
Near Curitiba, Brazil                      2
Rio de Janerio, Brazil                     2
Off Macae, Brazil                          2
Campinas, Brazil                           2
Carajas, Brazil                            2
Cuiaba, Brazil                             2
Off Rio de Janeiro, Brazil                 2
Near Sao Paulo, Brazil                     2
Porto Alegre, Brazil                       2
Near Rio de Janeiro, Brazil                2
Brazil                                     2
Rio Doce, Brazil                           2
Rio Branco, Brazil                         2
Florianopolis, Brazil                      2
Belem, Para, Brazil                        1
Gravata, Brazil                            1
Manacapuru River, Brazil                   1
Manacapuru, Brazil                         1
Imperatriz, Brazil                         1
Uberaba, Brazil                            1
Near Belo Horizonte, Brazil                1
Guanabara, Brazil                          1
Vitoria, Brazil                            1
Sena Madureira, Brazil                     1
                                          ..
Near Florianpolis, Brazil                  1
Near Petrolia, Brazil                      1
Miritituba, Brazil                         1
Near Brasilia, Brazil                      1
Off Florianopolis, Brazil                  1
Sao Pedro da Aldeia, Brazil                1
Jaquirana, Brazil                          1
San Fransisco do Paula, Brazil             1
Rio Azul Farm, Brazil                      1
Vit√≥ria da Conquista, Brazil               1
Near Natal, Brazil                         1
Sao Francisco Bay, Brazil                  1
Bahia, Brazil                              1
Near Carolina, Brazil                      1
Off Fernando de Noronha, Brazil            1
Aracaju, Brazil                            1
Caparao Mountain, Brazil                   1
Off the Brazilian coast,  AtlantiOcean     1
Tabatinga, Brazil                          1
Pelotas, Brazil                            1
Near Coari, Brazil                         1
Anchieta Island, Brazil                    1
Off Macae , Rio de Janeiro , Brazil        1
Juiz De Fora, Brazil                       1
Porte Alegre, Brazil                       1
Vitoria da Conquista, Brazil               1
Off Vila dos Remidos, Brazil               1
Brasillia, Brazil                          1
Lagoa Santa, Brazil                        1
Uberlandia,  Brazil                        1
Name: Location, Length: 142, dtype: int64