In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('Airplane_Crashes_and_Fatalities_Since_1908.csv')
# df.dropna(inplace=True)

In [3]:
df.head()

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...

In [4]:
'''Will only return True when we have Brazil in the location, so theres no need to dropna'''
def brazil_in_location(location):
    return (type(location) is str and 'Brazil' in location)

In [21]:
one_hot_encoding_locations = [brazil_in_location(location) for location in df.Location.values]
brazilian_df = df[one_hot_encoding_locations]
len(brazilian_df)

191

In [7]:
# df_crashes = pd.DataFrame(locations, columns=['Location', 'Summary', 'Operator'])

NameError: name 'locations' is not defined

In [ ]:
# Checking for typos, which would mess up data aggregation
for value in df_crashes.Location:
    print(value)

In [ ]:
df_crashes.Location.value_counts()

In [ ]:
# Plot a scatterplot

In [ ]:
# Plot the crashes by airline

In [ ]:
# Show the cause of each crash