In [1]:
!pip install wordcloud

Requirement already satisfied: wordcloud in /home/bmartins/workspace/virtualenv_python3.5/lib/python3.5/site-packages
Requirement already satisfied: matplotlib in /home/bmartins/workspace/virtualenv_python3.5/lib/python3.5/site-packages (from wordcloud)
Requirement already satisfied: pillow in /home/bmartins/workspace/virtualenv_python3.5/lib/python3.5/site-packages (from wordcloud)
Requirement already satisfied: numpy>=1.6.1 in /home/bmartins/workspace/virtualenv_python3.5/lib/python3.5/site-packages (from wordcloud)
Requirement already satisfied: pytz in /home/bmartins/workspace/virtualenv_python3.5/lib/python3.5/site-packages (from matplotlib->wordcloud)
Requirement already satisfied: pyparsing!=2.0.0,!=2.0.4,!=2.1.2,!=2.1.6,>=1.5.6 in /home/bmartins/workspace/virtualenv_python3.5/lib/python3.5/site-packages (from matplotlib->wordcloud)
Requirement already satisfied: python-dateutil in /home/bmartins/workspace/virtualenv_python3.5/lib/python3.5/site-packages (from matplotlib->wordcloud)
Requirement already satisfied: six>=1.10 in /home/bmartins/workspace/virtualenv_python3.5/lib/python3.5/site-packages (from matplotlib->wordcloud)
Requirement already satisfied: cycler>=0.10 in /home/bmartins/workspace/virtualenv_python3.5/lib/python3.5/site-packages (from matplotlib->wordcloud)
Requirement already satisfied: olefile in /home/bmartins/workspace/virtualenv_python3.5/lib/python3.5/site-packages (from pillow->wordcloud)

In [2]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv('Airplane_Crashes_and_Fatalities_Since_1908.csv')

In [5]:
df.columns

Index(['Date', 'Time', 'Location', 'Operator', 'Flight #', 'Route', 'Type',
       'Registration', 'cn/In', 'Aboard', 'Fatalities', 'Ground', 'Summary'],
      dtype='object')

In [6]:
df.head()

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...

In [7]:
df.Summary.head(n=20)

0     During a demonstration flight, a U.S. Army fly...
1     First U.S. dirigible Akron exploded just offsh...
2     The first fatal airplane accident in Canada oc...
3     The airship flew into a thunderstorm and encou...
4     Hydrogen gas which was being vented was sucked...
5     Crashed into trees while attempting to land af...
6     Exploded and burned near Neuwerk Island,  when...
7            Crashed near the Black Sea, cause unknown.
8     Shot down by British aircraft crashing in flames.
9     Shot down in flames by the British 39th Home D...
10                                  Crashed in a storm.
11    Shot down by British anti-aircraft fire and ai...
12                             Caught fire and crashed.
13    Struck by lightning and crashed into the Balti...
14    Crashed into the sea from an altitude of 3,000...
15                       Shot down by British aircraft.
16                       Shot down by British aircraft.
17              Shot down by French anti-aircraft fire.
18    Exploded and crashed into the sea off the sout...
19    Shot down by British aircraft crashing from a ...
Name: Summary, dtype: object

In [13]:
df[df.Summary == '']

Empty DataFrame
Columns: [Date, Time, Location, Operator, Flight #, Route, Type, Registration, cn/In, Aboard, Fatalities, Ground, Summary]
Index: []

In [15]:
df[df.Summary == None]

Empty DataFrame
Columns: [Date, Time, Location, Operator, Flight #, Route, Type, Registration, cn/In, Aboard, Fatalities, Ground, Summary]
Index: []

In [19]:
from nltk.stem.porter import PorterStemmer
import numpy as np

In [17]:
stemmer = PorterStemmer()

def stem(text):
    text_stem = [stemmer.stem(token) for token in text.split(' ')]
    text_stem_join = ' '.join(text_stem)
    return text_stem_join

In [27]:
corpus = np.array(df.Summary)
corpus.shape

(5268,)

In [28]:
stemmed_corpus = list(map(stem, corpus)) # corpus is a numpy array FIXME

AttributeError: 'float' object has no attribute 'split'